:root{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem ;
    background-color: #1e2a5e;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 8px
}

.company-name {
    font-size: 1.2rem;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-end;
    transition: all 0.3s ease;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9 rem;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
}

#hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://gilangcloud.github.io/company-profile/image/background.gif') no-repeat center center/cover; 
}

.hero-container {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(113, 113, 113, 0.6); 
    z-index: 1;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}
h2{
    text-align: center;
    
}

p {
    font-size: 1.5rem;
    margin-top: 20px;
}


.cta-button {
    display: inline-block;
    background: #293674;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.cta-button:hover {
    background: #1e2a5e;
}

/* About */
#about {
    padding: 4rem 2rem;
    background-color: transparent;
    color: #1E2A5E;
}

#about h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 6rem;
}

.about-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.about-image {
    flex: 1;
    padding-right: 1rem;
}

.about-image img {
    width: 100%;
    border-radius: 8px;
    max-width: 400px; 
}

.about-text {
    flex: 2;
}

.about-text h2 {
    margin-top: 0;
    font-size: 2rem;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
}

.about-commitment {
    background-color: white;
    color: #1E2A5E;
    padding: 2rem;
    border-radius: 8px;
    
}

.about-commitment h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.about-commitment p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.6;
}

/* Visi misi */
#visi-misi {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
    justify-content: space-between;
}

.grid-item {
    flex: 1; 
    background: #1E2A5E;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.grid-item h2 {
    margin-top: 0;
    color: white;
    text-align: center;
}

.grid-item  p  {
    text-align: center;
    padding-top: 2rem;
}

.grid-item ul {
    list-style-type: circle; 
    padding-left: 20px;    
}

.grid-item ul li {
    margin-bottom: 10px; 
    font-size: 1rem;
    text-align: left;     
}

/* INDUSTRI SECTION */

#industri {
    background: white;
    color: #1e2a5e;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 40px 0;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    gap: 20px; 
    align-items: center; 
    justify-content: center; 
    transition: transform 0.3s ease;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-width: 180px;
    margin: 10px;
    text-align: center;
    padding: 10px; 
}

.carousel-item img {
    width: 180px;  
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px; 
    object-fit: contain; 
}


.carousel-item p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    max-width: 150px; 
}


/* PARTNERS SECTION */
#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    background-color: #ffffff;
    color: #1E2A5E;
}



.partner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;                
}

.partner-item img {
    width: 100%;                 
    aspect-ratio: 16 / 9;        
    object-fit: cover;          
    border-radius: 5px;
    margin-bottom: 10px;         
}

.partner-item h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0; 
}

/* testimoni */

#testimonials {
    text-align: center;
    background: #55679c;
    color: white;
    padding: 3rem 0;
}

.testimonials-container {
    display: flex;
    overflow: hidden;
    gap: 10rem;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.item {
    background: #1e2a5e;
    color: white;
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.item > p {
    width: 100%; 
    margin: 0; 
    font-size: 1rem; 
}

/* Contact Section */
#contact {
    background: whitesmoke;
    color: #1e2a5e;
    padding: 3rem;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-info h3 {
    margin-top: 0;
}

.contact-map {
    flex: 1;
    min-width: 300px;
}

.contact-map iframe {
    width: 100%;
    border: 0;
}

.social-media a {
    display: block;
    margin-bottom: 10px;
    color: hsl(229, 52%, 24%);
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

footer {
    background: #1e2a5e;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Animasi Carousel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll-testimonials {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1e2a5e;
        width: 100%;
        padding: 1rem;
        z-index: 9;
    }

    .nav-links.nav-active {
        display: flex;
        margin-top: 2rem;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: left; 
        padding-left: 20px; 
    }

    .nav-links li a {
        padding-left: 2rem;
        display: block;
        width: 100%; 
    }

    .hamburger {
        display: flex;
    }

    #hero {
        padding: 2rem 1rem;
    }

    #hero h2 {
        font-size: 1.5rem;
    }

    .cta-button {
        padding: 8px 16px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .about-text {
        flex: 1;
    }

    .about-commitment {
        padding: 1rem;
    }

    #visi-misi {
        flex-direction: column; 
    }

    .grid-item {
        flex: 1 1 100%; 
    }

    .carousel-item {
        min-width: 150px; /* Sesuaikan lebar item untuk perangkat seluler */
        margin: 1rem; /* Jarak tambahan antar item pada perangkat seluler */
        padding: 1rem; /* Padding tambahan */
    }

    .contact-map iframe {
        width: 100%;
        height: 300px;
    }

    .testimonials-container,
    .carousel-inner {
        animation: none;
    }

    .testimonials-container {
        flex-direction: column; /* Ubah arah flex menjadi kolom */
        gap: 2rem; /* Jarak antar item pada perangkat seluler */
    }

    .item {
        width: 90%; /* Buat item memenuhi lebar container */
        max-width: 500px; /* Maksimal lebar item */
        margin: 1.5rem auto; /* Jarak antar testimoni pada perangkat seluler */
        padding: 1.5rem; /* Padding tambahan */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.animate-fade {
    animation: fadeIn 5s ease-out forwards;
}

.animate-slide {
    animation: slideIn 10s ease-out forwards;
}

.animate-zoom {
    animation: zoomIn 20s ease-out forwards;
}


section {
    opacity: 0;
    transform: translateY(20px);
}

section.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

