/* Gaya umum */
:root {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem ;
    background-color: #1e2a5e;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 8px
}

.company-name {
    font-size: 1.2rem;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-end;
    transition: all 0.3s ease;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9 rem;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
} 

main {
    flex: 1;
}

.produk-section {
    background: white;
    color: #1E2A5E;
    padding: 2rem;
    margin-bottom: 2rem; /* Jarak antar section */
}

.produk-section h2 {
    margin-top: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #1E2A5E;
    color: white;
    border-radius: 8px;
    padding: 1rem;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* footer */
footer {
    background: #1E2A5E;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Media queries */
@media (max-width: 1024px) {
    .produk-section {
        padding: 1.5rem;
    }
    
    .card-container {
        gap: 15px;
    }

    .card {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1e2a5e;
        width: 100%;
        padding: 1rem;
        z-index: 9;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: left; 
        padding-left: 20px; 
    }

    .nav-links li a {
        padding-left: 2rem;
        display: block;
        width: 100%; 
    }
    .hamburger {
        display: flex;
    }
    .nav-active {
        display: flex;
        margin-top: 3rem;
    }
    body.nav-open {
        padding-top: 60px;
    }
    .produk-section {
        padding: 1rem;
    }

    .card-container {
        gap: 10px;
    }

    .card {
        width: 100%;
    }
}