
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background-color: #1E2A5E;
    color: #E1D7B7;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* navbar*/
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #E1D7B7;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#visi-misi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
}

.grid-item {
    background: #ffffff;
    color: #1E2A5E;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
    margin-top: 0;
    color: #1E2A5E;
}



/* footer */
footer {
    background-color: #1E2A5E;
    color: #E1D7B7;
    padding: 1rem;
    text-align: center;
    margin-top: auto; 
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: row; 
        justify-content: center;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        justify-content: space-around; 
    }

    nav ul li {
        margin-right: 10px;
    }

    .card {
        width: 100%;
    }

    footer {
        font-size: 0.9rem;
    }
}
